# Python
/backend/venv/
/backend/__pycache__/
/backend/api/__pycache__/
/backend/models/__pycache__/
/backend/services/__pycache__/
/*.pyc

**/__pycache__/
**/*.py[cod]
*.pyc


# Node.js
/frontend/node_modules/
/frontend/dist/

# VSCode & IDEA
*.iml
.idea/
.vscode/

# System
.DS_Store
Thumbs.db